<?xml version="1.0"?>
<config>
    <modules>
        <Koban_Magentoforkoban>
            <version>0.1.0</version>
        </Koban_Magentoforkoban>
    </modules>
	<admin>
        <routers>
			<magentoforkoban>
				<use>admin</use>
				<args>
					<module>Koban_Magentoforkoban</module>
					<frontName>magentoforkoban</frontName>
				</args>
			</magentoforkoban>
        </routers>
    </admin>
	<adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <koban_magentoforkoban_model_observer>
                        <type>model</type>
                        <class>Koban_Magentoforkoban_Model_Observer</class>
                        <method>addOrderAction</method>
                    </koban_magentoforkoban_model_observer>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>  
    <global>
        <models>
			<magentoforkoban>
				<class>Koban_Magentoforkoban_Model</class>
			</magentoforkoban>
		</models>
		<events>
			<newsletter_subscriber_save_commit_after>
				<observers>
					<koban_magentoforkoban_model_observer>
						<class>Koban_Magentoforkoban_Model_Observer</class>
						<method>subscribedToNewsletter</method>
					</koban_magentoforkoban_model_observer>
				</observers>
			</newsletter_subscriber_save_commit_after>
			<catalog_category_save_commit_after>
				<observers>
					<koban_magentoforkoban_model_observer>
						<class>Koban_Magentoforkoban_Model_Observer</class>
						<method>CategorySaved</method>
					</koban_magentoforkoban_model_observer>
				</observers>
			</catalog_category_save_commit_after>
			<catalog_category_delete_before>
				<observers>
					<koban_magentoforkoban_model_observer>
						<class>Koban_Magentoforkoban_Model_Observer</class>
						<method>CategoryDeleted</method>
					</koban_magentoforkoban_model_observer>
				</observers>
			</catalog_category_delete_before>
			<catalog_product_save_commit_after>
				<observers>
					<koban_magentoforkoban_model_observer>
						<class>Koban_Magentoforkoban_Model_Observer</class>
						<method>ProductSaved</method>
					</koban_magentoforkoban_model_observer>
				</observers>
			</catalog_product_save_commit_after>
			<catalog_product_delete_before>
				<observers>
					<koban_magentoforkoban_model_observer>
						<class>Koban_Magentoforkoban_Model_Observer</class>
						<method>ProductDeleted</method>
					</koban_magentoforkoban_model_observer>
				</observers>
			</catalog_product_delete_before>
			<sales_order_place_after>
				<observers>
					<koban_magentoforkoban_model_observer>
						<class>Koban_Magentoforkoban_Model_Observer</class>
						<method>OrderDone</method>
					</koban_magentoforkoban_model_observer>
				</observers>
			</sales_order_place_after>
			<sales_order_item_cancel>
				<observers>
					<koban_magentoforkoban_model_observer>
						<class>Koban_Magentoforkoban_Model_Observer</class>
						<method>OrderCancelled</method>
					</koban_magentoforkoban_model_observer>
				</observers>
			</sales_order_item_cancel>
			<customer_save_commit_after>
				<observers>
					<koban_magentoforkoban_model_observer>
						<class>Koban_Magentoforkoban_Model_Observer</class>
						<method>CustomerSaved</method>
					</koban_magentoforkoban_model_observer>
				</observers>
			</customer_save_commit_after>
			<adminhtml_customer_save_after>
				<observers>
					<koban_magentoforkoban_model_observer>
						<class>Koban_Magentoforkoban_Model_Observer</class>
						<method>CustomerSavedFromAdmin</method>
					</koban_magentoforkoban_model_observer>
				</observers>
			</adminhtml_customer_save_after>
		</events>
		<helpers>
			<magentoforkoban>
				<class>Koban_Magentoforkoban_Helper</class>
			</magentoforkoban>
		</helpers>
        <extraconfig />
        <blocks>
			<magentoforkoban>
				<class>Koban_Magentoforkoban_Block</class>
			</magentoforkoban>
			<page>
                <rewrite>
                    <html_head>Koban_Magentoforkoban_Block_Tracking</html_head>
                </rewrite>
            </page>
		</blocks>
     </global>
</config>